@using WFM.SmokeTests.Domain.Entities
@model TestPlanViewModel

@{
    ViewBag.Title = @Model.PlanCaption;
    Layout = "_Layout";
}


<h2>@Model.PlanCaption</h2>
<span>@Model.PlanDescription</span>
<span>Steps to execute</span>
<ul>
    <form>
    @foreach (var testStep in @Model.PlanSteps)
    {
        <li>
            <input asp-for="@testStep" value="@testStep"/>
            <button> Move up </button>
            <button> Move down</button>
            <button> Remove step</button>
        </li>
    }
    <button>Add step</button>
    <button type="submit">Save</button>
    <button type="submit">Save as draft </button>
    <a asp-action="TestPlans" >Back</a>
    </form>
</ul>
