@model TestPlanViewModel

@{
    ViewBag.Title = @Model.PlanCaption;
    Layout = "_Layout";
}


<h2>@Model.PlanCaption</h2>
<span>@Model.PlanDescription</span>
<span>Steps to execute</span>
<ul>
    @foreach (var testStep in @Model.PlanSteps)
    {
        <li>@testStep</li>
    }
</ul>
<a asp-action="DownloadPlanDetailJson" asp-route-id="@Model.PlanId" >Download as json</a>.

<a asp-action="DownloadPlanDetailText" asp-route-id="@Model.PlanId" >Download as text file</a>.
<br/>
<a asp-action="TestPlans" >Back</a>.


