@model TestPlansViewModel
@{
    ViewData["Title"] = "Test plans list ";
}

<div class="text-center">
    <h1 class="display-4">@Model.Header</h1>
    @foreach (var testPlanName in @Model.TestPlansList)
    {
        <p>@testPlanName.PlanName
            <a asp-action="TestPlanExcecution" asp-route-id="@testPlanName.PlanId" >Execute</a>
            <a asp-action="TestPlanExcecution" asp-route-id="@testPlanName.PlanId" >Execute in todoist</a>
            <a asp-action="PlanDetail" asp-route-id="@testPlanName.PlanId" >View</a>
            <a asp-action="EditPlan" asp-route-id="@testPlanName.PlanId" >Edit</a>
            <a asp-action="CopyTestPlan" asp-route-id="@testPlanName.PlanId" >Copy</a>
            <a asp-action="DeletePlan" asp-route-id="@testPlanName.PlanId" >Delete</a>
        </p>
    }
</div>