@model TestPlanExecutionViewModel

@{
    ViewBag.Title = @Model.PlanCaption;
    Layout = "_Layout";
}


<h2>@Model.PlanCaption</h2>
<span>@Model.PlanDescription</span>
<span>Steps to execute</span>

<form asp-action="SavePlanExcecution" asp-route-id="@Model.PlanId" method="post">
    <ul>
        @for (int i=0; i <  @Model.PlanStepsResults.Count; i++)
        {
            <li style="list-style: none">
            
                <input type="checkbox" asp-for="@Model.PlanStepsResults[i].TestPassed"  />
                <label asp-for="@Model.PlanStepsResults[i].TestPassed">@Model.PlanStepsResults[i].StepName</label>
                             
                <input type="hidden" asp-for="@Model.PlanStepsResults[i].StepName" />                
                         
            </li>
        }
    </ul>
    <label asp-for="Notes" >Notes: </label>
    <br/>
    @* <input type="text" asp-for="Notes" placeholder="Enter additional comments here..."/> *@
    <textarea asp-for="Notes" style="width: 600px !important;height: 300px;"  placeholder="Enter additional comments here..." ></textarea>
    <br/>
    <hr/>
    <input type="submit" name="submit" value="Save  test results">
</form>
<br/>
<a asp-action="TestPlans" >Back</a>.